<!doctype html>
<html ng-app="customvalidationapp" ng-cloak>
<head>
<title>AngularJS Tutorial 5</title>
<style>
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none;
}

table {
	width: 400px;
	text-align: left;
	border: 2px solid black;
	padding: 10px;
}

input.ng-dirty.ng-invalid {
	border-color: red;
}

.invalidInputFormat{
	border: 1px solid red;
}
</style>
</head>
<body>



	<div ng-controller="mainCtrl"  ng-init="isDateValid=false">
	Date : 
		<input type="text" validate-date/> : <p  ng-show="isDateValid">Date is valid</p>
		<p  ng-show="!isDateValid">Date is Not valid</p>
	</div>
	
	<hr>
	<p  ng-show="isDateValid2">Date is valid</p>
		<p  ng-show="!isDateValid2">Date is Not valid</p>
	<hr>
	<!-- End of userCtrl -->

	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script	src="http://momentjs.com/downloads/moment.min.js"></script>
		
	<script src="js/customValidation.js"></script>

 	
		<div ng-controller="mainCtrl">
					 
		 <hr>
		 Create Str to Date :<br>
		
		INPUT DATE STR (YYYY-MM-DD) :
		<input type="text" ng-model="testDateStr" />
		<button ng-click="convertToDateFromStr();">convertToDateFromStr</button>
		
		converted Date obj = {{testDateObj}}
			
	  
		
		<hr>
		str to moment date converted : 
		
		 <div><p>{{strdate1}} = {{date1}}</p><br>
		 <p>{{strdate2}}={{date2}}</p><br>
		 <p>{{strdate3}}={{date3}}</p><br>
		 <p>{{strdate4}}={{date4}}</p><br></div>
		 <hr>
		 
			
		</div>
	
	
</body>
</html>